<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>小白鼠零二号</string>
	<key>Description</key>
	<string>支持macOS Mojave 256px 4K版 作者QQ286755872</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>Ink Cloud.png</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>OffsetX</key>
			<integer>208</integer>
			<key>OffsetY</key>
			<integer>195</integer>
			<key>Scale</key>
			<integer>8</integer>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>logo.png</string>
		<key>BootCampStyle</key>
		<false/>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<false/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<false/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<false/>
			<key>MenuTitleImage</key>
			<false/>
			<key>Revision</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>black.png</string>
			<key>Proportional</key>
			<false/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>AnimAdjustForMenuX</key>
			<integer>-100</integer>
			<key>BannerOffset</key>
			<integer>50</integer>
			<key>ButtonOffset</key>
			<integer>64</integer>
			<key>SelectionBigWidth</key>
			<integer>288</integer>
			<key>TextOffset</key>
			<integer>-100</integer>
			<key>TileXSpace</key>
			<integer>128</integer>
			<key>TileYSpace</key>
			<integer>128</integer>
			<key>Vertical</key>
			<false/>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>1080</integer>
			<key>DesignWidth</key>
			<integer>1920</integer>
		</dict>
		<key>Scroll</key>
		<dict>
			<key>BarHeight</key>
			<integer>4</integer>
			<key>Height</key>
			<integer>16</integer>
			<key>ScrollHeight</key>
			<integer>8</integer>
			<key>Width</key>
			<integer>16</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>ChangeNonSelectedGrey</key>
			<true/>
			<key>Color</key>
			<string>0x0099FF10</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>Selection_Small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2018</string>
</dict>
</plist>
